* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-self: center;
    background-image: url(/images/hero-background.jpg);
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 251, 0, 0.336);
    box-shadow: inset 0 0 0 1200px rgba(255, 251, 0, 0.336);
}
li {
    display: inline;
    margin: 0 5px 0 5px;
}
.container {
    width: 100%;
    max-width: 1200px;
}
.section {
    padding: 60px 30px 0 30px;
}
.header {
    padding: 0 20px 0 20px;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu {
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav-link {
    gap: 30px;
}
.hero {
}
.hero-slogan {
    font-size: 50px;
    text-align: center;
    /*color: #ffde59;*/
    color: #3d6a2f;
    -webkit-text-stroke: 1px #3d6a2f;
    text-shadow: 1px 1px 2px #fff;
}
