.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 300px;
    gap: 30px;
    margin-bottom: 50px;
}
.text {
    font-size: 25px;
}
.map {
    border-radius: 10px;
}
.cert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 86px;
}
