@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700;800&display=swap');

p {
    font-size: 40px;
    font-weight: 500;
    max-width: 75vw;
    letter-spacing: 2px;
    color: #fefefe;

    span {
        background-image: linear-gradient(
            transparent calc(80% - 5px),
            darken($color, 0%) 5px
        );
        background-size: 0;
        background-repeat: no-repeat;
        display: inline;
        transition: 0.5s ease;
    }

    &:hover {
        span {
            background-size: 100%;
        }
    }
}
.p1 {
    font-size: 20px;
    font-weight: bold;
    max-width: 75vw;
    color: #fff;

    span {
        background-image: linear-gradient(
            transparent calc(80% - 5px),
            darken($color, 0%) 5px
        );
        background-size: 0;
        background-repeat: no-repeat;
        display: inline;
        transition: 0.5s ease;
    }

    &:hover {
        span {
            background-size: 100%;
        }
    }
}
a {
    text-decoration: none;
}
article {
    background: linear-gradient(to right, hsl(0, 0%, 100%), hsl(48 100% 67));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    @media (max-width: 480px) {
        position: absolute;
        top: -330px;
        left: -90px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        position: absolute;
        top: -300px;
        left: -90px;
    }
}

h1 {
    font-size: 80px;
    line-height: 1.1;
    @media (max-width: 480px) {
        font-size: 40px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        font-size: 35px;
    }
}
strong {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -0.125rem;
        left: -0.5rem;
        right: -0.5rem;
        height: 0.75rem;

        // Position the line behind the text so that
        // it is still easily readable
        z-index: 1;

        // The SVG is added as an SVG background image
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
        background-repeat: no-repeat;

        // This allows the SVG to flex in size to fit
        // any length of word. If the word is short,
        // the SVG will be stretched vertically, if it
        // is long, the SVG will be stretched horizontally.
        // The jagged nature of this particular SVG works
        // with this transforming.
        background-size: cover;
    }
}

p > strong {
    font-weight: 400;

    &::after {
        // Specific positioning for smaller text
        bottom: -0.2rem;
        height: 0.5rem;
        left: -0.25rem;
        right: -0.25rem;
    }
}
.articles:hover .underlined {
    color: white;
    flex: 1;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 0.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3px;
    border-radius: 10px;

    &--thin {
        background-image: linear-gradient(
            to right,
            rgba(61, 106, 47, 0.6),
            rgba(255, 222, 89, 0.6) 100%
        );
    }
}
