.header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 200px;
    background-color: $color2;
    padding: 10px 30px 0 30px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(61, 106, 47, 1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(61, 106, 47, 1);
    box-shadow: 0px 5px 10px 0px rgba(61, 106, 47, 1);

    @media (min-width: 0px) and (max-width: 480px) {
        height: 100px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        min-height: 180px;
    }
    @media (min-width: 769px) and (max-width: 1020px) {
        min-height: 270px;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-icon {
        margin-right: 10px;
        fill: white;
    }
    &-list {
        display: flex;
    }
}
nav {
    margin-right: 100px;
    @media (min-width: 0px) and (max-width: 768px) {
        display: none;
    }
}
nav.nav ul.nav {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav.nav ul.nav li {
    display: inline-block;
    margin-right: 40px; /* Adjust this value as needed */
}
ul.header-languages {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    gap: 30px;
    margin-right: 100px;
    @media (min-width: 0px) and (max-width: 480px) {
        padding-top: 4vw;
        margin: auto;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        display: inline-flex;
        justify-content: center;
        justify-self: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}

ul.header-languages li {
    display: inline-block;
    margin-bottom: 20px;
    gap: 30px;
}

.logo img {
    width: 350px;
    height: 175px;
}

/* Media Query for screen width 0px - 479px */
@media (max-width: 480px) {
    .logo img {
        width: 100px;
        height: 50px;
    }
}

/* Media Query for screen width 480px - 769px */
@media (min-width: 481px) and (max-width: 768px) {
    .logo img {
        margin-top: 5vw;
        width: 200px;
        height: 100px;
    }
}
.pl {
    width: 40px;
    height: 30px;
    border-radius: 4px;
    background-image: url('../images/pl.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 0px) and (max-width: 480px) {
        width: 23px;
        height: 18px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        width: 8vw;
        height: 4vw;
    }
}
.en {
    width: 40px;
    height: 30px;
    border-radius: 4px;
    background-image: url('../images/uk.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 0px) and (max-width: 480px) {
        width: 23px;
        height: 18px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        width: 8vw;
        height: 4vw;
    }
}
.de {
    width: 40px;
    height: 30px;
    border-radius: 4px;
    background-image: url('../images/de.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 0px) and (max-width: 480px) {
        width: 23px;
        height: 18px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        width: 8vw;
        height: 4vw;
    }
}
.es {
    width: 40px;
    height: 30px;
    border-radius: 4px;
    background-image: url('../images/es.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 0px) and (max-width: 480px) {
        width: 23px;
        height: 18px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        width: 8vw;
        height: 4vw;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        width: 8vw;
        height: 4vw;
    }
}
.it {
    width: 40px;
    height: 30px;
    border-radius: 4px;
    background-image: url('../images/it.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 0px) and (max-width: 480px) {
        width: 23px;
        height: 18px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        width: 8vw;
        height: 4vw;
    }
}
