.header {
    padding: 0 20px 0 20px;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-icon-1 {
        position: absolute;
        top: 28px;
        right: 318px;
        fill: white;
    }
    &-icon-2 {
        position: absolute;
        top: 52px;
        right: 318px;
        fill: white;
    }
}

nav.nav ul.nav {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav.nav ul.nav li {
    display: inline-block;
    margin-right: 10px; /* Adjust this value as needed */
}
ul.header-contacts {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.header-contacts li {
    display: flex;
    margin-bottom: 10px;
}
