.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color2;
    color: #fff;

    text-shadow: 1px 1px 2px #ffde59;
}

.video {
    position: relative;
    width: 100%;
    height: 76vh; /* Adjusted to 40% of the screen height */

    @media (min-width: 0px) and (max-width: 480px) {
        height: 40vh;
    }
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video fills the container without cropping */
}
.video-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    @media (min-width: 0px) and (max-width: 480px) {
        top: 0;
    }
    @media (min-width: 481px) and (max-width: 1200px) {
        top: -300px;
    }
}

.hero-content {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(
        -50%,
        -50%
    ); /* Center both horizontally and vertically */
    text-align: center;
    color: #fff;
    z-index: 1;

    @media (max-width: 480px) {
        top: 130vw; /* Adjust the vertical position on mobile screens */
        h1 {
            font-size: 35px;
        }
    }
}
