.services {
    @media (max-width: 480px) {
        margin-bottom: 30px;
    }

    &__picture-1 {
        width: 370px;
        height: 278px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/portfolio/d-services-img-1-1x.jpg');

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-1 {
                background-image: url('../images/portfolio/d-services-img-1-2x.jpg');
            }
        }
        @media (min-width: 0px) and (max-width: 480px) {
            background-image: url('../images/portfolio/m-services-img-1-1x.jpg');
            width: 450px;
            height: 294x;
        }
        @media (min-width: 0px) and (max-width: 480px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-1 {
                background-image: url('../images/portfolio/m-services-img-1-2x.jpg');
                width: 450px;
                height: 294x;
            }
        }
        @media (min-width: 481px) and (max-width: 768px) {
            background-image: url('../images/portfolio/t-services-img-1-1x.jpg');
            width: 354px;
            height: 294px;
        }
        @media (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-1 {
                background-image: url('../images/portfolio/t-services-img-1-2x.jpg');
                width: 354px;
                height: 294px;
            }
        }
    }
    &__picture-2 {
        width: 370px;
        height: 278px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/portfolio/d-services-img-2-1x.jpg');

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-2 {
                background-image: url('../images/portfolio/d-services-img-2-2x.jpg');
            }
        }
        @media (min-width: 0px) and (max-width: 480px) {
            background-image: url('../images/portfolio/m-services-img-2-1x.jpg');
            width: 450px;
            height: 294x;
        }
        @media (min-width: 0px) and (max-width: 480px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-2 {
                background-image: url('../images/portfolio/m-services-img-2-2x.jpg');
                width: 450px;
                height: 294x;
            }
        }
        @media (min-width: 481px) and (max-width: 768px) {
            background-image: url('../images/portfolio/t-services-img-2-1x.jpg');
            width: 354px;
            height: 294px;
        }
        @media (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-2 {
                background-image: url('../images/portfolio/t-services-img-2-2x.jpg');
                width: 354px;
                height: 294px;
            }
        }
    }
    &__picture-3 {
        width: 370px;
        height: 278px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/portfolio/d-services-img-3-1x.jpg');

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-3 {
                background-image: url('../images/portfolio/d-services-img-3-2x.jpg');
            }
        }
        @media (min-width: 0px) and (max-width: 480px) {
            background-image: url('../images/portfolio/m-services-img-3-1x.jpg');
            width: 450px;
            height: 294x;
        }
        @media (min-width: 0px) and (max-width: 480px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-3 {
                background-image: url('../images/portfolio/m-services-img-3-2x.jpg');
                width: 450px;
                height: 294x;
            }
        }
        @media (min-width: 481px) and (max-width: 768px) {
            background-image: url('../images/portfolio/t-services-img-3-1x.jpg');
            width: 354px;
            height: 294px;
        }
        @media (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-3 {
                background-image: url('../images/portfolio/t-services-img-3-2x.jpg');
                width: 354px;
                height: 294px;
            }
        }
    }
    &__picture-4 {
        width: 370px;
        height: 278px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/portfolio/d-services-img-4-1x.jpg');

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-4 {
                background-image: url('../images/portfolio/d-services-img-4-2x.jpg');
            }
        }
        @media (min-width: 0px) and (max-width: 480px) {
            background-image: url('../images/portfolio/m-services-img-4-1x.jpg');
            width: 450px;
            height: 294x;
        }
        @media (min-width: 0px) and (max-width: 480px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-4 {
                background-image: url('../images/portfolio/m-services-img-4-2x.jpg');
                width: 450px;
                height: 294x;
            }
        }
        @media (min-width: 481px) and (max-width: 768px) {
            background-image: url('../images/portfolio/t-services-img-4-1x.jpg');
            width: 354px;
            height: 294px;
        }
        @media (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-4 {
                background-image: url('../images/portfolio/t-services-img-4-2x.jpg');
                width: 354px;
                height: 294px;
            }
        }
    }
    &__picture-5 {
        width: 370px;
        height: 278px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/portfolio/d-services-img-5-1x.jpg');

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-5 {
                background-image: url('../images/portfolio/d-services-img-5-2x.jpg');
            }
        }
        @media (min-width: 0px) and (max-width: 480px) {
            background-image: url('../images/portfolio/m-services-img-5-1x.jpg');
            width: 450px;
            height: 294x;
        }
        @media (min-width: 0px) and (max-width: 480px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-5 {
                background-image: url('../images/portfolio/m-services-img-5-2x.jpg');
                width: 450px;
                height: 294x;
            }
        }
        @media (min-width: 481px) and (max-width: 768px) {
            background-image: url('../images/portfolio/t-services-img-5-1x.jpg');
            width: 354px;
            height: 294px;
        }
        @media (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-5 {
                background-image: url('../images/portfolio/t-services-img-5-2x.jpg');
                width: 354px;
                height: 294px;
            }
        }
    }
    &__picture-6 {
        width: 370px;
        height: 278px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/portfolio/d-services-img-6-1x.jpg');

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-6 {
                background-image: url('../images/portfolio/d-services-img-6-2x.jpg');
            }
        }
        @media (min-width: 0px) and (max-width: 480px) {
            background-image: url('../images/portfolio/m-services-img-6-1x.jpg');
            width: 450px;
            height: 294x;
        }
        @media (min-width: 0px) and (max-width: 480px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-6 {
                background-image: url('../images/portfolio/m-services-img-6-2x.jpg');
                width: 450px;
                height: 294x;
            }
        }
        @media (min-width: 481px) and (max-width: 768px) {
            background-image: url('../images/portfolio/t-services-img-6-1x.jpg');
            width: 354px;
            height: 294px;
        }
        @media (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-6 {
                background-image: url('../images/portfolio/t-services-img-6-2x.jpg');
                width: 354px;
                height: 294px;
            }
        }
    }
    &__picture-7 {
        width: 370px;
        height: 278px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/portfolio/d-services-img-7-1x.jpg');

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-7 {
                background-image: url('../images/portfolio/d-services-img-7-2x.jpg');
            }
        }
        @media (min-width: 0px) and (max-width: 480px) {
            background-image: url('../images/portfolio/m-services-img-7-1x.jpg');
            width: 450px;
            height: 294x;
        }
        @media (min-width: 0px) and (max-width: 480px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-7 {
                background-image: url('../images/portfolio/m-services-img-7-2x.jpg');
                width: 450px;
                height: 294x;
            }
        }
        @media (min-width: 481px) and (max-width: 768px) {
            background-image: url('../images/portfolio/t-services-img-7-1x.jpg');
            width: 354px;
            height: 294px;
        }
        @media (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-7 {
                background-image: url('../images/portfolio/t-services-img-7-2x.jpg');
                width: 354px;
                height: 294px;
            }
        }
    }
    &__picture-8 {
        width: 370px;
        height: 278px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/portfolio/d-services-img-8-1x.jpg');

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-8 {
                background-image: url('../images/portfolio/d-services-img-8-2x.jpg');
            }
        }
        @media (min-width: 0px) and (max-width: 480px) {
            background-image: url('../images/portfolio/m-services-img-8-1x.jpg');
            width: 450px;
            height: 294x;
        }
        @media (min-width: 0px) and (max-width: 480px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-8 {
                background-image: url('../images/portfolio/m-services-img-8-2x.jpg');
                width: 450px;
                height: 294x;
            }
        }
        @media (min-width: 481px) and (max-width: 768px) {
            background-image: url('../images/portfolio/t-services-img-8-1x.jpg');
            width: 354px;
            height: 294px;
        }
        @media (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-8 {
                background-image: url('../images/portfolio/t-services-img-8-2x.jpg');
                width: 354px;
                height: 294px;
            }
        }
    }
    &__picture-9 {
        width: 370px;
        height: 278px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/portfolio/d-services-img-9-1x.jpg');

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-9 {
                background-image: url('../images/portfolio/d-services-img-9-2x.jpg');
            }
        }
        @media (min-width: 0px) and (max-width: 480px) {
            background-image: url('../images/portfolio/m-services-img-9-1x.jpg');
            width: 450px;
            height: 294x;
        }
        @media (min-width: 0px) and (max-width: 480px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-9 {
                background-image: url('../images/portfolio/m-services-img-9-2x.jpg');
                width: 450px;
                height: 294x;
            }
        }
        @media (min-width: 481px) and (max-width: 768px) {
            background-image: url('../images/portfolio/t-services-img-9-1x.jpg');
            width: 354px;
            height: 294px;
        }
        @media (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            &__picture-9 {
                background-image: url('../images/portfolio/t-services-img-9-2x.jpg');
                width: 354px;
                height: 294px;
            }
        }
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @media (max-width: 480px) {
            max-width: 480px;
            align-self: center;
            justify-content: center;
            justify-self: center;
            gap: 0px;
        }
    }
    &__footer {
        margin-top: -4px;
        gap: 4px;
        padding: 20px 24px;
        border: 1px solid #ececec;
    }
    &:hover {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    &:focus {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    &__card--name {
        color: $dark-background;
        font-size: 18px;
        line-height: 2;
        font-weight: 700;
    }
    &-description {
        color: $grey-font;
        font-size: 16px;
        line-height: 1.875;
    }
    &__card-img-container {
        position: relative;
        display: block;

        object-fit: cover;
        overflow: hidden;
    }
    &__card--description {
        margin-bottom: 4px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(33, 150, 243, 0.9);
        padding: 49px 45px 49px 24px;
        font-size: 18px;
        line-height: 1.55;
        text-align: Left;
        letter-spacing: 3%;
        color: $white-font;
        transform: translateY(102%);
        transition: transform 250ms ease-in;
    }
    &__card:hover &__card--description {
        transform: translateY(0);
    }
    &__card:focus &__card--description {
        transform: translateY(0);
    }
}
