@import 'vars.scss';

* {
    margin: 0;
    padding: 0;
}
body {
    display: block;
    justify-self: center;
    width: 100%;
    box-shadow: inset 0 0 0 1200px rgba(4, 63, 7, 0.473);
    font-family: 'Baloo 2', cursive;

    background-image: url('../images/hero-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    display: inline;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.section {
    display: flex;
    justify-content: center;
    //padding: 60px 30px 0 30px;
}
